<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>393732058389-1pkgcenldearm5sgsdndr8dr47kcg2k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393732058389-1pkgcenldearm5sgsdndr8dr47kcg2k2</string>
	<key>API_KEY</key>
	<string>AIzaSyDJAH9sG5cOt-hrC6JNqjMZp4H-5l1eAUA</string>
	<key>GCM_SENDER_ID</key>
	<string>393732058389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alibaba.pokeFinder</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-cc927</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-cc927.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:393732058389:ios:5b530e7ff2f00e2c</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-cc927.firebaseio.com</string>
</dict>
</plist>