<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pokeFinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>660DB39A1DB8270900423591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>660DB3AE1DB8270A00423591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>660DB3B91DB8270A00423591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
